---
import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="Portfolio de Jonathan Martínez"
	description="Desarrollador Web con habilidades en FrontEnd y BackEnd apasionado por descubrir y aprender nuevas cosas."
>
	<main></main>
</Layout>
